@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: #393c41;
  margin: 0;
  padding: 0;
}

html::-webkit-scrollbar {
  width: 5.5px;
}

html::-webkit-scrollbar-track {
  background: #0e0219;
  border-radius: 5.5px;
}

html::-webkit-scrollbar-thumb {
  background: #C7C5C7;
  border-radius: 5.5px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #C7C5C7;
  border-radius: 5.5px;
}

html::-webkit-scrollbar-thumb:active {
  background: #C7C5C7;
  border-radius: 5.5px;
}

body {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

@keyframes animateDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }
}